body{
  background-image: url(https://assets.pikiran-rakyat.com/crop/0x0:0x0/x/photo/2020/10/28/2588831511.jpg);
  background-position: center ;
  background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
}
.centerLogindiv {
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
    height: 60%;
    width: 30%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 25px;
    overflow: auto;
}
.loginbutton {
    background-color: #4CAF50;
    position: absolute;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px;
    top: 275px;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 250px;
  }
  .loginbutton:hover, .registerbtn:hover{
    background-color: #348537;

  }
  input[type=text], input[type=password] {
    left: 5%;
    position: relative;
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  label{
      font-size: 35px;
  }
  .col {
    float: left;
    width: 50%;
    margin: auto;
    padding: 0 50px;
    margin-top: 6px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .bottom{ 
    width: auto;
    height: auto;
    background-color: azure;
    position: relative;
    top:35%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 5px;
  }
  label {
      margin: 5%;
  }
  .pcenter{
      align-content: center;
  }
  .center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .registerbtn {
    background-color: #4CAF50;
    position: absolute;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px;
    top: 10px;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 250px;
  }
  .or {
    
    margin: 0;
    position: absolute;
    top: 77%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }