body {
    background: rgb(48, 48, 48);
    font-family: Arial, Helvetica, sans-serif;
}
.divcenterbox {
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
    height: 95%;
    width: 97.25%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 25px;
    overflow: auto;
}
.divofpfp{
    position: relative;
    background-color: gray;
    height: 40%;
    width: 20%;
    left: 2.5%;
    top: 5%;
    border-radius: 25px;
}
.divsideright{
    position: absolute;
    color: white;
    background-color: rgb(154, 154, 154);
    height: 50%;
    width: 72.5%;
    right: 2.5%;
    top: 5%;
    border-radius: 25px;

}
.editpfpdiv{
    position: absolute;
    background-color: rgb(154, 154, 154);
    height: 7.5%;
    width: 20%;
    left: 2.5%;
    top: 47.5%;
    border-radius: 25px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    
}
#edittext{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
.foodfoot{
    position: absolute;
    background-color: rgb(154, 154, 154);
    height: 35%;
    width: 72.5%;
    left: 2.5%;
    bottom: 5%;
    border-radius: 25px;

}
.caldivdiff{
    position: absolute;
    background-color: gray;
    height: 35%;
    width: 20%;
    right: 2.5%;
    bottom: 5%;
    border-radius: 25px;
    
}
h1 {
    position: relative;
    left: 1.5%;
}
.logoutbtn{
        position: absolute;
        background-color: rgb(116, 116, 116);
        height: 7.5%;
        width: 20%;
        right: 1.25%;
        top: 2.5%;
        border-radius: 25px;
        text-align: center;
        font-size: 20px;
        cursor: pointer;
}
.logoutbtn:hover{
    background-color: rgb(67, 67, 67);
}
.editpfpdiv:hover{
    background-color: rgb(67, 67, 67);
}