body {
    background: rgb(48, 48, 48);
    font-family: Arial, Helvetica, sans-serif;
}
.divcenterbox {
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
    height: 95%;
    width: 97.25%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 25px;
    overflow: auto;
}
.divofpfp{
    position: relative;
    background-color: gray;
    height: 40%;
    width: 20%;
    left: 2.5%;
    top: 5%;
    border-radius: 25px;
}
.divsideright{
    position: absolute;
    color: white;
    background-color: rgb(154, 154, 154);
    height: 50%;
    width: 72.5%;
    right: 2.5%;
    top: 5%;
    border-radius: 25px;
    

}
.editpfpdiv{
    position: absolute;
    background-color: rgb(116, 116, 116);
    height: 7.5%;
    width: 20%;
    right: 1.25%;
    top: 12%;
    border-radius: 25px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    
    
}
#edittext{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
.foodfoot{
    position: absolute;
    background-color: rgb(154, 154, 154);
    height: 35%;
    width: 60%;
    left: 2.5%;
    bottom: 5%;
    border-radius: 25px;

}
.caldivdiff{
    position: absolute;
    background-color: gray;
    height: 35%;
    width: 32.5%;
    right: 2.5%;
    bottom: 5%;
    border-radius: 25px;
    
}
.headofh1 {
    position: relative;
    left: 1.5%;
}
.logoutbtn{
        position: absolute;
        background-color: rgb(116, 116, 116);
        height: 7.5%;
        width: 20%;
        right: 1.25%;
        top: 2.5%;
        border-radius: 25px;
        text-align: center;
        font-size: 20px;
        cursor: pointer;
}
.logoutbtn:hover{
    background-color: rgb(67, 67, 67);
}
.editpfpdiv:hover{
    background-color: rgb(67, 67, 67);
}
.grid-container {
    display: grid;
    grid: 50% / 50% 50%;
    grid-gap: 0px;
    
    padding: 10px;
  }
  
  .grid-container > div {
    
    text-align: left;
    padding: 1px 0;
    font-size: 30px;
  }
  .indiv{
      position: absolute;
      left: 0%;
  }


.selectposition{
position: absolute;

}
.calperdaydiv{
  position: absolute;
  background-color: rgb(116, 116, 116);
  height: 16%;
  width: 40%;
  left: 47%;
  top: 80%;
  border-radius: 25px;
  text-align: center;
  font-size: 20px;
  overflow: hidden;
}
.cpdtext{
  position: absolute;
  font-size: 30px;
  left: 10%;
}
img.a {
  width: 300px;
  height: 287px;
  object-fit: cover;
  position: absolute;
  border-radius: 25px;
}


.uplpfp{
  position: absolute;
  background-color: rgb(116, 116, 116);
  height: 7.5%;
  width: 20%;
  left: 2.5%;
  top: 47.5%;
  border-radius: 25px;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
}
.uplpfp:hover{
  background-color: rgb(67, 67, 67);
}

.bfdiv {
  position: absolute;
  background-color: gray;
  height: 90%;
  width: 30%;
  left: 1.5%;
  top: 5%;
  border-radius: 25px;
}
.lundiv {
  position: absolute;
  background-color: gray;
  height: 90%;
  width: 30%;
  left: 35%;
  top: 5%;
  border-radius: 25px;
}
.dindiv {
  position: absolute;
  background-color: gray;
  height: 90%;
  width: 30%;
  left: 68%;
  top: 5%;
  border-radius: 25px;
}
.caltddiv {
  position: absolute;
  background-color: rgb(116, 116, 116);
  height: 42.5%;
  width: 95%;
  right: 2.5%;
  top: 5%; 
  border-radius: 5px;
  text-align: center;
  font-size: 20px;
}
.caldifftd {
  position: absolute;
  background-color: rgb(116, 116, 116);
  height: 42.5%;
  width: 95%;
  right: 2.5%;
  bottom: 5%;
  border-radius: 5px;
  text-align: center;
  font-size: 20px;

}
.bfdivtext{
  width: 90% ;
  height: 20%;
  bottom: 5%;
  left: 5%;
  position: absolute;
  background-color: beige;
  color: black;
  border-radius: 25px;
  cursor: pointer;
}
.bfdivtext:hover{background-color: rgb(245, 245, 220, 0.5);}
.divtextinse{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(0, 0, 0);
  font-size: 20px;
}
.lundivtext{
  width: 90% ;
  height: 20%;
  bottom: 5%;
  left: 5%;
  position: absolute;
  background-color: beige;
  color: black;
  border-radius: 25px;
  cursor: pointer;
}
.lundivtext:hover{background-color: rgb(245, 245, 220, 0.5);}

.dindivtext{
  width: 90% ;
  height: 20%;
  bottom: 5%;
  left: 5%;
  position: absolute;
  background-color: beige;
  color: black;
  border-radius: 25px;
  cursor: pointer;
}
.dindivtext:hover{background-color: rgb(245, 245, 220, 0.5);}

.bfcalshow {
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
  color: rgb(0, 0, 0);
  font-size: 30px;
  width: 100%;
}
.texttotalcal{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(0, 0, 0);
  font-size: 30px;
  width: 100%;
}
.difftext2cal{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(0, 0, 0);
  font-size: 30px;
  width: 100%;
}